@model IEnumerable<Website_demomvc.DTO.Category>
@{
    int i = 0;
}

@foreach(var item in Model)
{
<tr>
    <td>@(++i)</td>
    <td>@item.CatName</td>
    <td>@item.CatDescribe</td>
    <td>@item.CreatedDate</td>
    <td></td>
</tr>
}

